@import (css) url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap');
@import (css) url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,800,900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-smoothing: antialiased;
    text-rendering:optimizeLegibility;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

body {
    // cursor: url(https://expertschoice.in/ara/cursor.png), auto;
    .main-container {
        height: 100vh;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px;
        @media only screen and (max-width: 768px) {
          padding: 0 25px;
        }
        @media only screen and (max-width: 558px) {
            padding: 0 15px;
        }
    }
}
