@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import './common.less';
body {
    padding: 0;
    margin: 0;
    background: #000;
    background-image: url("https://expertschoice.in/ara/bg-image.png");
  }
  .main-container {
    height: 100vh;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    .super-container {
      .row {
        .container {
          .left-content {
            max-width: 250px;
            position: absolute;
            bottom: 0;
            margin-bottom: 25px;
            left: 0;
            @media only screen and (max-width: 768px) {
              position: relative;
            }
            @media only screen and (max-width: 558px) {
              max-width: 100%;
              padding: 0 15px;
              position: absolute;
            }
            .title-text {
              display: flex; 
              padding-bottom: 10px;
              .rw-sentence{
                font-size: 28px;
                color: #fff;
                font-weight: 700;
                line-height: 32px;
              }
              .rw-sentence span{
                font-size: 28px;
                color: #fff;
                font-weight: 700;
                line-height: 32px;
              }
              .rw-words{
                display: inline;
                text-indent: 10px;
              }
              .rw-words-1 span{
                position: absolute;
                opacity: 0;
                overflow: hidden;
                -webkit-animation: rotateWord 18s linear infinite 0s;
                -ms-animation: rotateWord 18s linear infinite 0s;
                animation: rotateWord 18s linear infinite 0s;
              }
              .rw-words-1 span:nth-child(2) { 
                  -webkit-animation-delay: 3s; 
                -ms-animation-delay: 3s; 
                animation-delay: 3s; 
              }
              .rw-words-1 span:nth-child(3) { 
                  -webkit-animation-delay: 6s; 
                -ms-animation-delay: 6s; 
                animation-delay: 6s;
              }
              .rw-words-1 span:nth-child(4) { 
                  -webkit-animation-delay: 9s; 
                -ms-animation-delay: 9s; 
                animation-delay: 9s; 
              }
              .rw-words-1 span:nth-child(5) { 
                  -webkit-animation-delay: 12s; 
                -ms-animation-delay: 12s; 
                animation-delay: 12s; 
              }
              .rw-words-1 span:nth-child(6) { 
                  -webkit-animation-delay: 15s; 
                -ms-animation-delay: 15s; 
                animation-delay: 15s; 
              }
              @-webkit-keyframes rotateWord {
                  0% { opacity: 0; }
                  2% { opacity: 0; -webkit-transform: translateY(-30px); }
                5% { opacity: 1; -webkit-transform: translateY(0px);}
                  17% { opacity: 1; -webkit-transform: translateY(0px); }
                20% { opacity: 0; -webkit-transform: translateY(30px); }
                80% { opacity: 0; }
                  100% { opacity: 0; }
              }
              @-ms-keyframes rotateWord {
                  0% { opacity: 0; }
                  2% { opacity: 0; -ms-transform: translateY(-30px); }
                5% { opacity: 1; -ms-transform: translateY(0px);}
                  17% { opacity: 1; -ms-transform: translateY(0px); }
                20% { opacity: 0; -ms-transform: translateY(30px); }
                80% { opacity: 0; }
                  100% { opacity: 0; }
              }
              @keyframes rotateWord {
                  0% { opacity: 0; }
                  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
                5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
                  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
                20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
                80% { opacity: 0; }
                  100% { opacity: 0; }
              }
              @media screen and (max-width: 768px){
                .rw-sentence { font-size: 18px; }
              }
              @media screen and (max-width: 320px){
                .rw-sentence { font-size: 9px; }
              }
            }
            
            p {
              font-size: 16px;
              color: #fff;
              font-weight: 400;
              line-height: 18px;
              margin: 0;
            }
            h4 {
              font-size:21px;
              color:#fff;
              font-weight:700;
              line-height:24px;
              padding:20px 0 0;
              margin:0;
            }
          }
          .column-right {
            .project-sliders {
              position: relative;
              width: 100%;
              @media only screen and (max-width: 768px) {
                display: none;
              }
              .slider-section {
                width: 383px;
                height:70vh;
                position: absolute;
                right: 15px;
                top: 0;
                display: none;
                @media only screen and (max-width: 768px) {
                  width: 100%;
                  height: auto;
                }
                img {
                  height:100%;
                  @media only screen and (max-width: 768px) {
                    width: 100%;
                  }
                }
              }
            }
            .bullets {
              position: absolute;
              right: 0;
              bottom: 0;
              @media only screen and (max-width: 768px) {
                position: fixed;
                margin-right: 15px;
              }
              @media only screen and (max-width: 558px) {
                display: none;
              }
              .list {
                padding:15px 0;
                span {
                  margin: 0 5px;
                  img {
                    width:20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
.slick-slider {
  max-width: 383px;
  width: 100%;
}

@keyframes move {
  0%  { top: 0px; }
  20% { top: -32px; }
  40% { top: -64px; }
  60% { top: -96px; }
  80% { top: -128px; }
}
